<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.mezeron.ylh.mcdemo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>美测-demo</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="UseLegacySwiftLanguageVersion" value="true" />
        <preference name="UseSwiftLanguageVersion" value="5.0.0" />
    </platform>
    <plugin name="cordova-plugin-meice-camera" spec="^1.1.0">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="使用相册" />
        <variable name="CAMERA_LIBRARY_USAGE_DESCRIPTION" value="使用相机" />
    </plugin>
    <engine name="ios" spec="^4.5.5" />
</widget>
